.modal-projects {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: $color-primary;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;

  .modal-container {
    background-color: $color-white;
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    position: relative;

    .btn-close {
      position: absolute;
      top: 20px;
      right: 18px;
    }

    .modal-title {
      font-size: 20px;
      line-height: 80%;
      font-weight: 700;
      margin-block-start: 37px;
      align-self: flex-start;
    }

    .technologies {
      display: flex;
      list-style: none;
      margin-top: 23px;
      gap: 10px;
      align-self: flex-start;

      .technology {
        padding: 6px 10px;
        border: 1px solid $color-primary;
        font-size: 12px;
        line-height: 80%;
        font-weight: 300;
      }
    }

    .media {
      .cover-image {
        width: 100%;
        height: auto;
        margin-block-start: 18px;
        margin-block-end: -7px;
      }

      .miniatures {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-block-end: 30px;

        .miniature {
          .miniature-img {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    .modal-description {
      margin-inline: -10px;
      margin-block-end: 24px;
      white-space: pre-line;
    }

    .modal-buttons {
      display: flex;
      flex-direction: column;
      gap: 29px;

      .btn {
        border: 1px solid $color-primary;
        font-size: 18px;
        font-weight: 500;
        position: relative;

        &:hover {
          color: $color-white;
        }

        .icon {
          position: absolute;
          top: middle;
          right: 12px;
        }
      }
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .modal-projects {
    padding: 70px;

    .modal-container {
      width: 90%;
      max-width: 1300px;
      padding: 60px;

      .modal-title {
        margin-block-start: 70px;
      }

      .modal-description {
        margin: auto;
        max-width: 75%;
      }

      .modal-buttons {
        flex-direction: row;
        margin: auto;
        max-width: 75%;
        margin-block-start: 52px;
      }

      .modal-footer {
        margin-block-start: 120px;

        .icon-arrow-left-dark {
          margin-inline-end: 18px;
        }

        .icon-arrow-right-dark {
          margin-inline-start: 18px;
        }
      }
    }
  }
}
