/* About Secion */

.about {
  .title {
    margin-block-start: 56px;
    margin-block-end: 20px;
  }

  .buttons {
    .icon {
      margin-inline-start: 20px;
    }
  }

  .skills {
    margin-block-start: 40px;

    .skill {
      padding: 50px;
      font-size: 18px;
      background-repeat: no-repeat;
      background-position: right bottom;

      .skill-title {
        margin-block-end: 21px;
        font-size: 20px;
        font-weight: 800;
        line-height: 30px;
        color: $color-white;
      }

      .skill-items {
        list-style-position: inside;
      }

      &:first-child {
        background-image: url(/images/ic_languages_mob.svg);
      }

      &:nth-child(2) {
        background-image: url(/images/ic_framework.svg);
      }

      &:last-child {
        background-image: url(/images/ic_skills.svg);
      }
    }
  }
}

/* End About Secion */

@media screen and (min-width: $breakpoint-md) {
  .about {
    padding-inline: 160px;
    gap: 96px;
    margin-block-start: 216px;
    margin-block-end: 158px;

    & > * {
      flex: 1;
    }

    .skills {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      background-image: url(/images/desktop/image_dots_with_teal.svg);
      background-repeat: no-repeat;
      background-position: bottom right;
    }
  }
}
