.footer {
  /* Footer */
  .social-icons {
    list-style: none;

    .footer-link {
      font-size: 1rem;
    }
  }

  /* End Footer */
}

@media screen and (min-width: $breakpoint-md) {
  .footer {
    padding-inline: 160px;
  }
}
