.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color-primary;
  z-index: 1000;
  overflow: hidden;
  display: flex;

  .project {
    background-color: $color-white;
    height: 100%;
    width: 100%;
    padding: 1rem;
    margin-inline: 0;
    overflow-y: auto;
    position: relative;

    .btn-close {
      position: absolute;
      right: 1rem;
      top: 1rem;
    }

    .title {
      color: $color-primary;
      font-size: 20px;
      font-weight: 700;
      margin-block-start: 40px;
      margin-block-end: 23px;
    }

    .description {
      color: $color-primary;
    }

    .tags {
      display: flex;
      gap: 10px;
      margin-block-end: 24px;

      .tag {
        padding: 6px 10px;
        background-color: $color-white;
        border: 1px solid $color-primary;
      }
    }

    .project-content {
      background-color: $color-white;
      transition: none;
      transform: translate(0);

      .project-button {
        .see-project {
          display: none;
        }

        .button-details {
          display: flex;
          gap: 29px;
          margin-block-start: 29px;

          .btn {
            border: 1px solid $color-primary;

            &:hover,
            &:focus {
              color: $color-secondary;
            }
          }
        }

        .button-navigation {
          margin-block-start: 120px;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .modal {
    padding: 70px;
    justify-content: center;

    .project {
      max-width: 1300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 60px;

      .title,
      .tags {
        align-self: flex-start;
      }

      .title {
        font-size: 60px;
        font-weight: 700;
        margin-block-end: 24px;
      }

      .tags {
        margin-block-end: 34px;
      }

      .project-media {
        width: 100%;

        .project-image {
          width: 100%;
          height: auto;
        }
      }

      .project-content {
        position: relative;
        max-width: 700px;

        .description {
          margin-block-start: 68px;
          margin-block-end: 40px;
        }

        .project-button {
          .button-navigation {
            display: flex;
          }
        }
      }
    }
  }
}
