/* Projects Secion */

.projects {
  position: relative;
  display: grid;
  grid-template: 1fr / 1fr;

  & > .title {
    margin-block: 40px 32px;
  }

  .project {
    display: flex;
    flex-direction: column;
    margin-inline: -16px;

    .project-media {
      margin-block: -2px;

      .project-image {
        width: 100%;
        height: auto;
        display: block;
        overflow: hidden;
      }
    }

    .project-content {
      & > .title {
        font-size: 20px;
        line-height: 80%;
        font-weight: 300;
      }

      .tags {
        gap: 10px;

        .tag {
          padding: 10px;
          background-color: $color-cyan;
          color: $color-primary;
        }
      }

      .btn {
        border: 1px solid $color-secondary;
        width: auto;
        padding-inline: 10px;
      }
    }
  }
}

/* End Projects Secion */

@media screen and (min-width: $desktop-breakpoint) {
  .projects {
    grid-template-columns: repeat(9, 1fr);

    /* grid-template-rows: repeat(12, 1fr); */
    grid-template-areas:
      'title title   img0   first  first first first  first first'
      'title title   img0   first  first first first  first first'
      'title title   img0   first  first first first  first first'
      '.     .       .      img2   img2  img2  last   last  last'
      'second second second img2   img2  img2  last   last  last'
      'second second second img2   img2  img2  fifth  fifth fifth'
      'third  third  third  third  third .     fifth  fifth fifth'
      'third  third  third  third  third img3  img3   img3  img3'
      'third  third  third  third  third img3  img3   img3  img3'
      'third  third  third  third  third img3  img3   img3  img3'
      'img5   img5   .      .      img4  forth forth  forth .'
      'img5   img5   .      .      img4  forth forth  forth .';
    gap: 0;

    > .title {
      grid-area: title;
      transform: rotate(-90deg);
      position: relative;
    }

    .project {
      position: relative;
      margin-inline: 0;
      overflow: hidden;

      .project-content {
        position: absolute;
        padding: 30px;
        bottom: 0;
        width: 100%;
        transform: translateY(100%);
        transition: transform 0.75s ease-in-out;

        & > .title {
          font-size: 40px;
          line-height: 150%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      &:hover {
        .project-content {
          display: flex;
          flex: 1;
          transform: translateY(0);
        }
      }

      & > .project-tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        bottom: 90px !important;
      }

      &.project-1 {
        grid-area: first; /* 1 */

        > .project-title {
          font-size: 40px;
        }
      }

      &.project-2 {
        grid-area: second; /* 2 */
      }

      &.project-3 {
        grid-area: third; /* 3 */
      }

      &.project-4 {
        grid-area: forth; /* 4 */
      }

      &.project-5 {
        grid-area: fifth; /* 5 */
      }

      &.project-6 {
        grid-area: last; /* 6 */
      }
    }

    // .project .project-1
    // .project.project-1

    .decorator {
      display: block;
      width: 100%;
      height: 100%;
    }

    .bg-image {
      display: block;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .decorator-2 {
      grid-area: img2;
    }

    .decorator-3 {
      grid-area: img3;
    }

    .decorator-4 {
      grid-area: img4;
    }

    .decorator-5 {
      grid-area: img5;
    }

    .decorator-0 {
      grid-area: img0;
    }

    .bg-image-2 {
      background-image: url(/images/desktop/image-geometry_2.svg);
      background-position: bottom left;
    }

    .bg-image-3 {
      background-image: url(/images/desktop/image-geometry_3.svg);

      /* background-position: top right; */
    }

    .bg-image-4 {
      background-image: url(/images/desktop/image-geometry_4.svg);
      background-position: top right;
    }

    .bg-image-5 {
      background-image: url(/images/desktop/image-geometry_5.svg);
      background-position: top left;
    }

    .bg-image-0 {
      background-image: url(/images/desktop/image_dots.svg);
      background-position: top right 20px;
    }
  }
}
