.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.align-stretch {
  align-items: stretch;
}

.align-self-center {
  align-self: center;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

@media screen and (min-width: $breakpoint-md) {
  .flex-md-row {
    flex-direction: row;
  }

  .flex-md-column {
    flex-direction: column;
  }

  .flex-md-wrap {
    flex-wrap: wrap;
  }

  .justify-md-start {
    justify-content: start;
  }

  .justify-md-end {
    justify-content: end;
  }

  .justify-md-center {
    justify-content: center;
  }

  .justify-md-space-between {
    justify-content: space-between;
  }

  .justify-md-space-around {
    justify-content: space-around;
  }

  .justify-md-space-evenly {
    justify-content: space-evenly;
  }

  .align-md-start {
    align-items: flex-start;
  }

  .align-md-end {
    align-items: flex-end;
  }

  .align-md-center {
    align-items: center;
  }

  .align-md-baseline {
    align-items: baseline;
  }

  .align-md-stretch {
    align-items: stretch;
  }

  .align-self-md-center {
    align-self: center;
  }

  .align-self-md-start {
    align-self: flex-start;
  }

  .align-self-md-end {
    align-self: flex-end;
  }

  .flex-md-1 {
    flex: 1;
  }

  .flex-md-2 {
    flex: 2;
  }
}
