*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-primary;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  scroll-behavior: smooth;
}

a {
  color: $color-primary;

  &:link {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }
}
