.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: calc(100vh - 100px);
  color: $color-primary;
}

.header {
  background-image: url(/images/image_geometry_1.svg);
  background-repeat: no-repeat;
  height: 74px;
}

.title {
  font-size: 50px;
  line-height: 100%;
}

.section {
  padding-inline: 16px;

  & > .title,
  & > .content {
    & > .title {
      line-height: 100%;
      font-family: $font-secondary;
      margin-block: 40px 32px;
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .title {
    font-size: 110px;
    font-weight: 400;
  }

  .header {
    background-image: none;
  }

  .section {
    padding-inline: 0;
  }
}
