$color-primary: #1a2236;
$color-secondary: #fff;
$color-white: #fff;
$color-cyan: #98dede;
$color-blue: #1c528a;
$color-red: #e2505c;
$color-yellow: #febf52;
$color-grey: #f9f9fa;
$color-success: #046434;
$color-danger: #bd0404;
$color-darker-grey: #dfdfe0;
$color-alt-grey: #7d7c84;
$font-primary: "Poppins", sans-serif;
$font-secondary: "Playfair Display", serif;
$desktop-breakpoint: 992px;
