/* Icons */
.icon {
  width: 32px;
  height: 32px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-arrow-right {
  background-image: url(../images/ic_arrow_right.svg);
}

.icon-close {
  background-image: url(../images/ic_close.svg);
}

.icon-download {
  background-image: url(../images/ic_download.svg);
}

.icon-menu {
  background-image: url(../images/ic_menu.svg);
}

.icon-link-teal {
  background-image: url(../images/ic_link_teal.svg);
}

.icon-angellist {
  background-image: url(../images/ic_angellist.svg);
}

.icon-github {
  background-image: url(../images/ic_github.svg);
}

.icon-linkedin {
  background-image: url(../images/ic_linkedin.svg);
}

.icon-medium {
  background-image: url(../images/ic_medium.svg);
}

.icon-stackoverflow {
  background-image: url(../images/ic_stackoverflow.svg);
}

.icon-twitter {
  background-image: url(../images/ic_twitter.svg);
}

/* End Icons */
