*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #1a2236;
  --color-secondary: #fff;
  --color-white: #fff;
  --color-cyan: #98dede;
  --color-blue: #1c528a;
  --color-red: #e2505c;
  --color-yellow: #febf52;
  --color-grey: #f9f9fa;
  --color-darker-grey: #dfdfe0;
  --color-alt-grey: #7d7c84;
  --font-primary: "Playfair Display", serif;
  --font-secondary: poppins, sans-serif;
}

html {
  font-family: var(--font-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
}

a {
  color: var(--color-primary);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* Utils */

.w-100 {
  width: 100%;
}

.bg-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.bg-blue {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.bg-red {
  background-color: var(--color-red);
  color: var(--color-white);
}

.bg-yellow {
  background-color: var(--color-yellow);
  color: var(--color-white);
}

.d-none {
  display: none;
}

/* Flex */

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

/* Spacing */
.pa-0 {
  padding: 0;
}

.ma-0 {
  margin: 0;
}

.mx-16 {
  margin-inline: 16px;
}

.my-16 {
  margin-block: 16px;
}

.mx-32 {
  margin-inline: 32px;
}

.my-32 {
  margin-block: 32px;
}

.mb-16 {
  margin-block-end: 16px;
}

.mt-16 {
  margin-block-start: 16px;
}

.mb-32 {
  margin-block-end: 32px;
}

.mt-32 {
  margin-block-start: 32px;
}

.px-16 {
  padding-inline: 16px;
}

.py-16 {
  padding-block: 16px;
}

.px-32 {
  padding-inline: 32px;
}

.py-32 {
  padding-block: 32px;
}

/* Text */
.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-cyan {
  color: var(--color-cyan);
}

/* End Utils */

/* Icons */
.icon {
  width: 32px;
  height: 32px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-arrow-right {
  background-image: url(../images/ic_arrow_right.svg);
}

.icon-download {
  background-image: url(../images/ic_download.svg);
}

.icon-link-teal {
  background-image: url(../images/ic_link_teal.svg);
}

.icon-angellist {
  background-image: url(../images/ic_angellist.svg);
}

.icon-github {
  background-image: url(../images/ic_github.svg);
}

.icon-linkedin {
  background-image: url(../images/ic_linkedin.svg);
}

.icon-medium {
  background-image: url(../images/ic_medium.svg);
}

.icon-stackoverflow {
  background-image: url(../images/ic_stackoverflow.svg);
}

.icon-twitter {
  background-image: url(../images/ic_twitter.svg);
}

/* End Icons */

/* Buttons */
.btn {
  border: none;
  cursor: pointer;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.btn:focus {
  border-width: 2px;
}

.btn-primary {
  height: 50px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  width: 100%;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.btn-secondary {
  height: 50px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  width: 100%;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--color-primary);
  color: var(--color-primary);
  border: 1px solid var(--color-secondary);
}

.btn:hover .icon {
  filter: invert(1);
}

/* Specific Buttons */

.btn-menu {
  width: 20px;
  height: 20px;
  background-image: url(../images/ic_menu.svg);
  background-repeat: no-repeat;
  margin-block-start: 19px;
  margin-inline-end: 16px;
}

/* End Buttons */

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-image: url(../images/image_geometry_1.svg);
  background-repeat: no-repeat;
  color: var(--color-primary);
}

.title {
  font-family: var(--font-primary);
  font-size: 50px;
  line-height: 100%;
  margin-block-end: 20px;
  margin-block-start: 40px;
}

.section {
  padding-inline: 16px;
}

.hello {
  margin-block-start: 104px;
}

.hello .title {
  margin-block-start: 30px;
}

.hello .subtitle {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  margin-block-end: 40px;
}

.hello .buttons {
  margin-block-end: 32px;
}

.hello + .divider {
  background-image: url(../images/image_geometry_2.svg);
  background-size: cover;
  height: 207px;
  background-repeat: no-repeat;
  background-position-x: center;
  width: calc(100vw + 1px);
  margin-inline: -16px;
}

/* Projects Secion */

.projects {
  display: grid;
  grid-template: 1fr / 1fr;
}

.projects .title {
  margin-block-end: 32px;
}

.project {
  display: flex;
  flex-direction: column;
  margin-inline: -16px;
}

.project .btn {
  border: 1px solid var(--color-secondary);
  width: auto;
  padding-inline: 10px;
}

.project-item {
  order: 1;
}

.project-image {
  margin-block: -2px;
}

.project-content {
  padding: 20px;
  order: 2;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project-tag {
  padding: 10px;
  background-color: var(--color-cyan);
  color: var(--color-primary);
}

.project-img {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}

/* End Projects Secion */

/* About Secion */

.about .title {
  margin-block-end: 20px;
}

.about .buttons {
  margin-block-start: 32px;
}

.about .buttons .icon {
  margin-inline-start: 20px;
}

.skills {
  display: grid;
  grid-template: 289px / 1fr;
  gap: 10px;
  margin-block-start: 40px;
}

.skill {
  padding: 50px;
  font-size: 18px;
}

.skill .skill-title {
  margin-block-end: 21px;
  font-size: 20px;
}

.skill-items {
  list-style-position: inside;
}

.skills .skill:first-child {
  background-image: url(../images/ic_languages_mob.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.skills .skill:nth-child(2) {
  background-image: url(../images/ic_framework.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.skills .skill:last-child {
  background-image: url(../images/ic_skills.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

/* End About Secion */

/* Contact Form Section */
.contact {
  background-color: var(--color-grey);
  background-image: url(../images/image_geometry_1.svg);
  background-repeat: no-repeat;
  margin-block-start: 50px;
  padding-inline: 18px;
  padding-block-start: 106px;
  padding-block-end: 74px;
}

.contact .subtitle {
  font-size: 14px;
  line-height: 21px;
  margin-block-end: 32px;
}

.form input,
.form textarea {
  font-family: var(--font-secondary);
}

.form-group {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: 4px;
  padding: 4px 16px 8px 16px;
  margin-block-end: 8px;
  border: 1px solid var(--color-darker-grey);
}

.form-group > label {
  font-size: 10px;
  margin-block-end: 4px;
  color: var(--color-alt-grey);
}

.form-group > input {
  border: none;
  font-size: 1rem;
}

.form > textarea {
  padding: 15px 16px;
  width: 100%;
  min-height: 112px;
  resize: none;
  border: 1px solid var(--color-darker-grey);
  border-radius: 4px;
  margin: 0;
}

.form-group > input:focus,
.form > textarea:focus {
  outline: none;
}

.contact .btn {
  margin-block-start: 20px;
}

/* End Contact Form Section */

/* Footer */
.social-icons {
  list-style: none;
}

.social-icons .footer-link {
  font-size: 1rem;
}
/* End Footer */

@media screen and (min-width: 992px) {
  .w-md-100 {
    width: 100%;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-none {
    display: none;
  }

  /* Flex */

  .d-md-flex {
    display: flex;
  }

  .flex-md-row {
    flex-direction: row;
  }

  .flex-md-column {
    flex-direction: column;
  }

  .justify-md-space-between {
    justify-content: space-between;
  }

  .justify-md-space-around {
    justify-content: space-around;
  }

  .justify-md-start {
    justify-content: flex-start;
  }

  .justify-md-end {
    justify-content: flex-end;
  }

  .justify-md-center {
    justify-content: center;
  }

  .align-md-start {
    align-items: flex-start;
  }

  .align-md-end {
    align-items: flex-end;
  }

  .align-md-center {
    align-items: center;
  }

  .align-self-md-center {
    align-self: center;
  }

  /* Spacing */
  .pa-md-0 {
    padding: 0;
  }

  .ma-md-0 {
    margin: 0;
  }

  .mx-md-16 {
    margin-inline: 16px;
  }

  .my-md-16 {
    margin-block: 16px;
  }

  .mx-md-32 {
    margin-inline: 32px;
  }

  .my-md-32 {
    margin-block: 32px;
  }

  .mb-md-16 {
    margin-block-end: 16px;
  }

  .mt-md-16 {
    margin-block-start: 16px;
  }

  .mb-md-32 {
    margin-block-end: 32px;
  }

  .mt-md-32 {
    margin-block-start: 32px;
  }

  .px-md-16 {
    padding-inline: 16px;
  }

  .py-md-16 {
    padding-block: 16px;
  }

  .px-md-32 {
    padding-inline: 32px;
  }

  .py-md-32 {
    padding-block: 32px;
  }

  .wrapper {
    background: none;
  }

  .header {
    width: 100%;
    height: 100px;
    box-shadow: 0px 0.5px 0px #dddfe6;
  }

  .header .nav-links {
    gap: 50px;
  }

  .section {
    padding-inline: 0;
  }

  .about-me {
    display: grid;
    grid-template-columns: 1fr 702px;
    grid-template-rows: 877px;
    margin-block-end: 210px;
    overflow: hidden;
  }

  .hello {
    margin-inline: 0;
    margin-block: 0;
    padding-inline-start: 160px;
    padding-inline-end: 94px;
  }

  .hello .btn {
    width: 254px;
  }

  .hello + .divider {
    width: 100%;
    height: 100%;
    position: relative;
    background: none;
    min-height: 607px;
  }

  .hello + .divider::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../images/desktop/image-geometry_1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
  }

  .hello + .divider::before {
    display: block;
    content: "";
    height: 175px;
    width: 175px;
    position: absolute;
    background-image: url(../images/desktop/image_dots.svg);
    bottom: 0;
    left: -175px;
    z-index: 1000;
  }
}
